a.navbar-brand{
  font-family: Airstrike;
  color: #EC3642;
}

img.brand-img {
  width: 25px;
}

nav.navbar.navbar-inverse {
  border-color: transparent;
}

nav.navbar.navbar-inverse form {
  float: right;
  margin-right: 10px;
}

nav.navbar.navbar-inverse button {
  border-color: transparent;
  background-color: #EC3642;
}

nav.navbar.navbar-inverse button span {
  color: white;
}
