#register form {
  margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
  /*border: 1px solid white;*/
}
.center{
  text-align: center;
}

#register label {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

#register h1 {
  text-align: center;
}

input {
  color: #ff0000;
}

#title1 {
	text-align: center;
}

#title2 {
	text-align: center;
}
