<<<<<<< HEAD
#register form {
  margin: auto;
  text-align: center;
  padding: 30px;
  border: 1px solid white;
  width: 500px;
}

#register label {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

#register h1 {
  text-align: center;
}

input {
  color: #ff0000;
}
