<<<<<<< HEAD
#register form {
  margin: auto;
  text-align: center;
  padding: 30px;
  border: 1px solid white;
  width: 500px;
}

#register label {
  margin-top: 5px;
  margin-bottom: 5px;
}

#register h1 {
  text-align: center;
}

#register button {
  margin-top: 10px;
=======
input{
    color: #ff0000;
>>>>>>> 1935bee84ea3b22184734777a075ae2585a6f875
}
