#explore {
  margin-top: 20px;
}

.filter{
  margin-top: 20px;
}

.nav-pills > li.active > a{
    background-color: black !important;
    color: white;
}

.nav-tabs > li.active > a{
    background-color: black !important;
    color: white !important;
}

#searchCard{
  margin: 10px;
}

#teamCard{
  margin: 10px;
}
