.info {
  margin-top: 20px;
}

#submit-img-preview {
  width: 200px;
  height: 150px;
}

#profile-info {
  background-color: white;
  color: rgb(35, 35, 35);
  margin-top: 20px;
  border-radius: 10px;
}

#profile-pic {
  height: 250px;
}

#profile-pic img {
  width: 250px;
  height: 250px;
}
