#matchFragment {
  border: 1px solid grey;
  padding: 10px;
  width: 1000px;
}

#photo, #desc {
  display: inline;
}

#photo {
  float: left;
  margin-left: 30px;
  margin-right: 40px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#photo img {
  background-repeat: no-repeat;
  border-radius: 50%;

  width: 100px;
  height: 100px;

  margin: auto;
}

#desc .col-md-8 {
  display: inline;
  background-color: red;
}
