#matchFragment {
  margin-top: 20px;
  border: 1px solid grey;
  background-color: white;
  color: rgb(35, 35, 35);
  border-radius: 10px;
}

#matchFragment hr {
  border-color: #BBBBBB;
}

#mf-desc {
  display: table-cell;
  padding: 20px;
  padding-bottom: 0px;
}

#mf-photo {
  display: inline-block;;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 200px;
}
