.request-photo {
  color: rgb(35, 35, 35);
}

.request-photo h4 {
  font-family: CodePro;
  color: #AB222B;
}

.request-photo div.col-xs-3 {
  background-repeat: no-repeat;
  width: 70px;
  height: 50px;
  margin-top: 5px;
  background-position: 41% 0%;
}

.request-photo div.col-xs-9 {
  padding-bottom: 10px;
}

.request-photo p {
  font-style: italic;
}

.request-item {
  margin: 5px;
  border: 1px solid grey;
}

#btn-discard {
  background-color: transparent;
  color: #AB222B;
  border: 1px solid #AB222B;
}
